config.inc.php
.DS_Store/
build
temp
/files
.project
.project/
.buildpath
.settings/
.htaccess
te_ST/
nbproject/project.xml
/nbproject/private/
nbproject/
upravyDB.txt
problemove_veci_design.txt
/images
